body {
    background-color: #f8f9fa;
  }

  
/* EXAMPLE TEXT BUTTON */
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #dc3545;
  }

  .text-copied-style {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .toast {
    --bs-toast-max-width: 160px;
  }